html, body {
    height:100%;
}

body {
  font: 13px / 1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

body {
  background: white;
  color: #111;
}

a {
  color: #0074D9;
  text-decoration: underline;
}
a:hover {
  color: #001F3F;
  text-decoration: underline;
}

h1 {
  padding-top: 20px;
}

tr.border-bottom td {
    border-bottom:1pt solid #ddd;
}

td {
    padding-right:0.5em;
    padding-top:.5em;
    padding-bottom:.5em;
}

td.td-right {
    padding-right:0px;
    padding-left:.5em;
    padding-top:.5em;
}

.no-wrap {
    white-space: nowrap;
}

.grid-container {
  padding-bottom: 20px;
}

.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

.dynamic-px-width {
  display: block;
}

#header {
    padding-top:2em;
    text-align:right;
}
#header hr {
    margin-top:1em;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -82px;
}
#footer, #push {
    text-align:center;
    height: 82px;
}

.error {
    color:#FF4136
}

.status-ok {
    color: #4F8A10
}

.status-notice {
    color: #9F6000
}

.index-sorting {
    float:left;
    padding-bottom:1em;
}

.index-stats {
    float:right;
    padding-bottom:2em;
}

blockquote {
    width:50%;
    background:#eee;
    border-left:10px solid #ccc;
    padding-left:10px;
    padding-right:10px;
}

textarea {
    max-width:500px;
    height:100px;
}

textarea.error {
    border-color:#FF4136;
}

button.link {
    background : 0;
    border : 0;
    margin : 0;
    padding : 0;
    tab-size:8;
    transform : none;
    transition : none;
    vertical-align : baseline;

    cursor: pointer;
    color: #0074D9;
    text-decoration: underline;
    font-weight:normal;
}

.form-input {
    padding-bottom:0.5em;
}

.form-inline {
    padding:0;
    margin:0;
    display:inline;
}

.form-inline .form-input {
    padding:0;
    margin:0;
    display:inline;
}

.form-inline input, .form-inline input[type=submit] {
    display:inline;
}

.thread {
    padding:0;
    padding-bottom:20px;
}

.thread-header {
}

.thread-counters {
    margin-right:1em;
    float:left;
    width:100px;
    background:#eee;
    padding:0.5em;
    text-align:center;
}

.thread-counters-replies {
    font-size:200%;
}

.thread-title {
    padding:0px;
    margin:0px;
    word-wrap: break-word;
    line-height:1em;
    padding-bottom:0.2em;
}

.thread-title a, .thread-title a:hover{
    text-decoration:none
}

a.no-underline, a.no-underline:hover{
    text-decoration:none
}

.thread-controls {
}

.thread-date {
    color:#999;
}

.thread-content {
    padding-top:1em;
    max-width:700px;
    word-wrap: break-word;
}

.replies {
    padding-top:2em;
}

.reply {
}

.reply-thank {
    text-align:right;
}

.reply-gravatar {
    float:left;
    margin-right:0.5em;
}

.reply-author {
    font-weight:bold;
}

.reply-date {
    color:#999;
}

.reply-content {
    max-width:700px;
    padding-top:10px;
    word-wrap: break-word;
}

.reply-content p:last-child {
    margin-bottom:5px;
}

.reply-controls {
}

.reply-over {
}

.reply-highlighted {
    background:#eee;
}

.quick-reply {
    margin-top:1em;
}

.quick-reply-form {
    padding-top:0.5em;
    display:none;
}

.quick-edit-form {
    padding-top:0.5em;
    display:none;
}

.markup-help-instance {
    margin-top:1em;
    padding:0.5em;
    background:#FF851B;
    display:none;
    max-width:500px;
}

.markup-help-instance p {
    padding:0;
    margin:0;
    display:inline;
}

.markup-help-instance pre, .markup-help-instance code {
    display:inline;
    padding:0px;
    margin:0px;
}

.markup-help-instance ul {
    padding-bottom:0px;
    margin-bottom:0px;
}

a.markup-help-button {
    text-decoration:none;
    border-bottom: dotted 1px #0074D9;
}

.CodeMirror {
    border: 1px solid #eee;
    max-width:500px;
    height:auto;
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.status-bg-notice {
    background:#FFDC00;
}

.status-bg-highlight {
    background:#01FF70;
}

.status-danger {
    color:#FF4136
}

.status-bg-danger {
    background:#FF4136
}

.not-user-notice {
    margin-top:2em;
    padding-top:1em;
    border-top:1px solid #eee;
    max-width:500px;
}

@media screen and (min-width: 768px) {
    .invisible-on-desktop {
        visibility:hidden;
    }
}
