html, body {
    height:100%;
}

body {
  font: 13px / 1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}

body {
  background: white;
  color: #333;
}

a {
  color: blue;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

h1 {
  padding-top: 20px;
}

td {
    padding-right:0.5em;
    padding-top.5em;
}

td.td-right {
    padding-right:0px;
    padding-left.5em;
    padding-top.5em;
}

.no-wrap {
    white-space: nowrap;
}

.grid-container {
  padding-bottom: 20px;
}

.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}

.dynamic-px-width {
  display: block;
}

#header {
    padding-top:2em;
    text-align:right;
}
#header hr {
    margin-top:1em;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -82px;
}
#footer, #push {
    text-align:center;
    height: 82px;
}

.error {
    color:red
}

.status-ok {
    color: #4F8A10
}

.status-notice {
    color: #9F6000
}

.index-sorting {
    padding-bottom:2em;
}

textarea {
    width:50%;
    height:100px;
}

textarea.error {
    border-color:red;
}

button.link {
    background : 0;
    border : 0;
    margin : 0;
    padding : 0;
    tab-size:8;
    transform : none;
    transition : none;
    vertical-align : baseline;

    cursor: pointer;
    color: blue;
    text-decoration: underline;
    font-weight:normal;
}

.form-input {
    padding-bottom:0.5em;
}

.form-inline {
    padding:0;
    margin:0;
    display:inline;
}

.form-inline .form-input {
    padding:0;
    margin:0;
    display:inline;
}

.form-inline input, .form-inline input[type=submit] {
    display:inline;
}

.clear {
  clear: both;
}

.thread {
}

.thread-counters {
    float:left;
    width:100px;
    background:#eee;
    padding:0.5em;
    margin-right:1em;
    text-align:center;
}

.thread-counters-replies {
    font-size:200%;
}

.thread-title {
    padding:0px;
    margin:0px;
}

.thread-controls {
}

.thread-date {
    color:#999;
}

.thread-content {
    padding-top:10px;
    padding-bottom:10px;
}

.reply {
    margin-top:10px;
    margin-bottom:10px;
    padding-top:10px;
}

.reply-gravatar {
    float:left;
    margin-right:0.5em;
}

.reply-author {
    font-weight:bold;
}

.reply-date {
    color:#999;
}

.reply-content {
    padding-top:10px;
}

.quick-reply {
    margin-top:1em;
}

.quick-reply-form {
    padding-top:0.5em;
    display:none;
}

.quick-edit-form {
    padding-top:0.5em;
    display:none;
}

